<script type="text/javascript" src="{% static 'javascripts/bnb.config.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/bnb.routes.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/authentication/authentication.module.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/authentication/services/authentication.service.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/authentication/controllers/register.controller.js' %}"></script>